*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 650px;
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-image: url(back.jpg);
}
.details p{
    display: block;
    font-weight: 700;
}
.details a{
    color: black;
    font-weight: 700;
}


